{% extends 'base.html.twig' %}

{% block body %}
  <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut delectus dolores, ex optio reprehenderit repudiandae. Ducimus exercitationem harum ipsum labore laboriosam minus optio quos sequi, sunt voluptas. Amet aspernatur cupiditate deserunt dignissimos iusto nam necessitatibus tenetur totam. Asperiores itaque, voluptate.
  </section>
{% endblock %}
