{% extends 'base.html.twig' %}

{% block body %}
  <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet dignissimos facilis nam, omnis placeat quasi suscipit! Corporis placeat quibusdam rem similique! Accusantium cum earum excepturi id ipsa laborum, quidem!
  </section>
{% endblock %}
