{% extends 'base.html.twig' %}

{% block body %}
  <div class="sub-header">
    <div class="auth-container">
      {% if error %}
        <alert-message type="danger">
          {{ error.messageKey | trans(error.messageData, 'security') }}
        </alert-message>
      {% endif %}
      {{ form_start(form, {attr: {class: 'auth-form'}}) }}
        <h1 class="auth-title">Forget password</h1>
        {{ form_rest(form) }}
        <button type="submit" class="btn-gradient">Send the instruction</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
