{% if user.username != "Aecy" %}
  <span class="pill pill-xsmall pill-yellow">{{ icon('star', 12) }} premium</span>
{% else %}
  <a class="badge badge-secondary" href="#">Standard account</a>
{% endif %}
