%btn {
  padding: 9px 16px;
  border: none;
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 1px 2px #{rgba(var(--contrast), 0.4)};
  border-radius: 4px;
  line-height: 1.6;
  font-family: $font-alt;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: filter 0.3s, background 0.3s, color 0.3s;
  font-size: 0.9em;
  filter: brightness(1);
  white-space: nowrap;
  &[disabled] {
    cursor: default;
    filter: grayscale(1);
    opacity: 0.7;
  }
  &:hover[disabled] {
    filter: grayscale(1);
  }
  &:hover {
    filter: brightness(1.2);
  }
  .icon {
    width: 16px;
    height: 16px;
    margin-right: space(1);
  }
}
.btn-gradient {
  @extend %btn;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) var(--contrast);
}
.btn-primary {
  @extend %btn;
  background: var(--contrast);
  border: 1px solid var(--contrast);
}
.btn-primary-outline {
  @extend %btn;
  border: 1px solid var(--contrast);
  color: var(--contrast);
  box-shadow: none;
  &:hover {
    filter: none;
    background: var(--contrast);
    color: #ffffff;
  }
}
.btn-discord {
  @extend %btn;
  background: #7289da;
}
.btn-steam {
  @extend %btn;
  background: #1b2838;
}
.btn-battle {
  @extend %btn;
  background: #7ebab5;
}
.btn-google {
  @extend %btn;
  background: #7ebab5;
}
.btn-danger {
  @extend %btn;
  background: black;
}
