// Variables
// ===============
:root {
  --background: #211f2c;
  --background-light: #282535;
  --color: #fff;
  --color-transparent: #{rgba(#fff, 0)};
  --contrast: #d31c3e;
  --border: #211f2d;
  --shadow: #211f2d;
  --space: 8px;
  --gap: 20px;
}

.dark {
  --background: #f7fafb;
  --background-light: #fff;
  --color: #121c42;
  --color-transparent: #{rgba(#121c42, 0)};
  --contrast: #4869ee;
  --border: #d5e3ec;
  --shadow: #d8e1e8;
  --space: 8px;
  --gap: 20px;
}

// Outils
// ===============
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";
@import "tools/layout";
@import "tools/typography";

// Generic
// ===============
body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.4;
  background: var(--background);
}

// Modules
// ===============
@import "modules/header";
@import "modules/footer";
@import "modules/card";
@import "modules/btn";
@import "modules/paginate";
@import "modules/form";
@import "modules/alert";
@import "modules/animation";
@import "modules/table";

// Pages
// ===============
@import "pages/auth";
@import "pages/dashboard";
